<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dog" class="ssh.spring.factory.BeingFactory" factory-method="getBeing">
        <constructor-arg value="dog"/>
        <property name="msg" value="I am a dog"/>
    </bean>

    <bean id="cat" class="ssh.spring.factory.BeingFactory" factory-method="getBeing">
        <constructor-arg value="cat"/>
        <property name="msg" value="I am a cat"/>
    </bean>

</beans>